* {
  padding: 0;
  margin: 0;
  font-family: 'StratosSkyeng';
  font-weight: 400;
}

@font-face {
  font-family: 'StratosSkyeng';
  src: url("font/STRATOSSKYENG-REGULAR.OTF");
  /* TTF file for CSS3 browsers */
}

body {
  background: #004980;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #004980;
}

.center {
  width: 100vw;
  height: 100vh;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 480px;
  height: 460px;
  background: #c2f5ff;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-title {
  max-width: 208px;
}

.main-difficulty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.difficulty-select {
  min-width: 98px;
  min-height: 98px;
  background-color: #fff;
  border-radius: 12px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.difficulty-select:hover {
  cursor: pointer;
  border: 2px solid #004980;
}

.difficulty-select:hover,
button:hover,
.difficulty__label,
.card {
  cursor: pointer;
}

.difficulty__radio {
  display: none;
}

.difficulty__label {
  font-size: 64px;
  line-height: 72px;
  width: 100%;
  height: 100%;
  color: #0080c1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  width: 246px;
  height: 50px;
  background: #7ac100;
  border-radius: 12px;
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 24px;
  line-height: 32px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #ffffff;
}

button:hover {
  border: 2px solid #5d9200;
}

button:active {
  -webkit-transform: translate(0em, 0.15em);
          transform: translate(0em, 0.15em);
  background: #67a300;
}

section {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

time, .spentTime {
  font-size: 64px;
  line-height: 72px;
  color: white;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timer-face {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  gap: 10%;
  top: 12px;
  text-indent: 40px;
  font-size: 16px;
  line-height: 32px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #ffffff;
}

.gameField {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  justify-items: center;
  row-gap: 15px;
}

.card {
  border: 2px solid rgba(0, 0, 0, 0);
}

.card:hover {
  border: 2px solid #c2f5ff;
  border-radius: 6px;
}

.popup {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
}

.popup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 480px;
  height: 450px;
  background: #c2f5ff;
  border-radius: 12px;
}

.popup-content-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result__img {
  max-height: 96px;
}

.popup-content-spent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.spentTime {
  color: black !important;
}
/*# sourceMappingURL=style.css.map */